@import 'src/styles/variables';
@import 'src/styles/breakpoits';

$pastas: #d73b3b;
$meats: #30201e;
$combos: #e6c864;
$vegans: #80aa40;

.item {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  &__imagem {
    min-width: 240px;
    @media (max-width: $desktop_xsm) {
      width: 100%;
    }
    img {
      border-radius: 8px;
      width: 100%;
    }
  }
  &__descricao {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    @media (max-width: $desktop_xsm) {
      flex-direction: row;
      margin-top: 20px;
      padding: 0;
    }
  }
  &__titulo {
    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: $dark-grey;
      font-size: 1.3rem;
      font-weight: 600;
      max-width: 600px;
      margin-bottom: 20px;
      font-family: 'Italiana', serif;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 700px;
    @media (max-width: $desktop_xsm) {
      justify-content: flex-end;
    }
    @media (max-width: $mobile) {
      justify-content: flex-start;
    }
    > div {
      margin: 10px;
    }
  }
  &__tipo {
    align-items: center;
    border-radius: 2px;
    display: flex;
    font-weight: bold;
    height: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    justify-content: center;
    padding: 10px 30px;
    &__pastas {
      background-color: $pastas;
      color: white;
    }
    &__meats {
      background-color: $meats;
      color: white;
    }
    &__combos {
      background-color: $combos;
    }
    &__vegans {
      background-color: $vegans;
    }
  }
  &__porcao {
    font-size: 30px;
    letter-spacing: 2px;
  }
  &__qtdpessoas {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  &__valor {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: center;
  }
  &__valor {
    color: $red;
    font-size: 1.7rem;
  }
}