@import 'src/styles/variables';
@import 'src/styles/breakpoits';

.buscador {
  align-items: center;
  background-color: $grey;
  border-radius: 5px;
  display: flex;
  gap: 18px;
  height: 42px;
  justify-content: space-between;
  padding: 0 15px;
  width: 400px;
  @media (max-width: $mobile) {
    width: 100%;
  }
  input {
    background-color: $grey;
    border: none;
    font-size: 1.25rem;
    outline: none;
    width: 100%;
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 1px;
    &::placeholder {
      color: #4c4d5e;
    }
  }
}